<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
    <title>Document</title>
</head>
<body class="body-home">
    <%- include("partials/header") %>
    
    <div class="formulario-carga">
        <h1>Formulario de carga</h1>
        <form action="/product-detail" method="POST" enctype="multipart/form-data">
            <label for="name">
                Nombre del producto
                <input type="text" id="name" name="productName" 
                value="<%= locals.oldData ? oldData.productName : null %>">
                <% if (locals.errors && errors.productName){ %>
                <div class="text-danger">
                    <%= errors.productName.msg %>
                </div>
                <% } %>
            </label>

            <label for="">
                Descripción
                <textarea name="description"><%= locals.oldData ? oldData.description : null %></textarea>
                <% if (locals.errors && errors.description){ %>
                    <div class="text-danger">
                        <%= errors.description.msg %>
                    </div>
                    <% } %>
            </label>
            <label for="">
                Características
                <textarea name="characteristics"><%= locals.oldData ? oldData.characteristics : null %></textarea>
                <% if (locals.errors && errors.characteristics){ %>
                    <div class="text-danger">
                        <%= errors.characteristics.msg %>
                    </div>
                    <% } %>
            </label>
            <label for="">
                Precio
                <input name="price" type="number"
                value="<%= locals.oldData ? oldData.price : null %>">
                <% if (locals.errors && errors.price){ %>
                    <div class="text-danger">
                        <%= errors.price.msg %>
                    </div>
                    <% } %>
            </label>
            <label for="">
                Descuento
                <input name="discount" type="number"
                value="<%= locals.oldData ? oldData.discount : null %>">
            </label>
            <label for="">
                Categoria
                <select name="category" id="">
                    <option value="guitarra">Guitarra</option>
                    <option value="Bajos">Bajos</option>
                    <option value="percusion">Percusión</option>
                    <option value="cuerdas-frotadas">Cuerdas Frotadas</option>
                    <option value="microfonos">Microfonos</option>
                </select>
                <% if (locals.errors && errors.category){ %>
                    <div class="text-danger">
                        <%= errors.category.msg %>
                    </div>
                    <% } %>
            </label>
            <label for="">
                Imagen
            <input name="img" type="file">
            <% if (locals.errors && errors.img){ %>
            <div class="text-danger">
                <p><%= errors.img.msg %></p>
            </div>
            <% } %>
            </label>
            <div class="btn-enviar-carga">
                <input type="submit" name="Enviar" id="">
            </div>
            
        </form>
    </div>
</body>
</html>