<!DOCTYPE html>
<html lang="es">
<!--Head-->
<head>
    <%- include("partials/head") %>
    <title>Detalles del producto</title>
</head>
<body class="body-product">
    <!--Header-->
    <%- include("partials/header") %>
    <div class="body-productdetails">
        <h2 class="titulo-detalle-producto"><%=product.productName%></h2>
        <section class="detalles-producto">
            <section class ="imagenes-producto">
                <img class ="imagen-principal" src="./images/Guitarra1.jpeg" alt="">
                <div class="imagenes-secundarias">
                    <img class ="imagen-secundaria imagen-secundaria-1" src="./images/guitarra2.jpeg" alt="">
                    <img class ="imagen-secundaria" src="./images/guitarra3.jpeg" alt="">
                </div>
            </section>
            <section class ="descripcion-del-producto">
                <h3 class="relleno-descripcion precio-detalles"><%=product.price%></h3>
                <div class="despliegue-opciones">
                    <details>
                        <summary>
                            <h3 class="relleno-descripcion opcion-detalles">Descripción <i class="fa-solid fa-arrow-down"></i></h3>
                        </summary>
                        <ul>
                            <li><p class="relleno-descripcion opcion-descripcion"><%= product.description%> </p></li>
                        </ul>
                    </details>
                </div>
                <div class="despliegue-opciones">
                    <details>
                        <summary>
                            <h3 class="relleno-descripcion opcion-detalles">Caracteristicas <i class="fa-solid fa-arrow-down"></i></h3>
                        </summary>  
                        <ul class="relleno-descripcion opcion-descripcion">
                            <li><%=product.characteristics%></li>
                        </ul>
                    </details>
                </div>
                <div class="cantidad-descripcion-del-producto">
                    <label class="titulo-cantidad" for="cantidad">Cantidad</label>
                    <input class="cantidad-añadir" name="cantidad" id="cantidad"type="number">
                </div>
                <div class="div-boton-añadir">
                    <button class="boton-añadir">Añadir al carrito</button>
                </div>
                <form action="/product-detail/<%= product.id%>?_method=PUT" method="POST">
                    <button><a href="/product-detail/<%= product.id%>/edit"> Editar</a></button>
                </form>
                <form action="/product-detail/<%= product.id%>?_method=DELETE" method="POST">
                    <button type="submit">Eliminar</button>
                </form>
            </section>
        </section>
        
    </div>
        <section class="barra-siguiente-instrumento">
            <a href=""><i class="far fa-arrow-alt-circle-left"></i></a>
            <h2>Ver otro instrumento</h2>
            <a href=""><i class="far fa-arrow-alt-circle-right"></i></a>
        </section>
        <!--footer-->
    <%- include("./partials/footer") %>

        <section class="footer-product">
            <p>a</p>
        </section>
        
    
</body>
</html>