<!DOCTYPE html>
<html lang="es">
<!--Head-->
<head>
    <%- include("partials/head") %>
    <title>Detalles del producto</title>
</head>
<body class="body-product">
    <!--Header-->
    <%- include("partials/header") %>
    <div class="body-productdetails">
        <h2 class="titulo-detalle-producto"></h2>
        <section class="detalles-producto">
            <section class ="imagenes-producto">
                <img class ="imagen-principal" src="./images/Guitarra1.jpeg" alt="">
                <div class="imagenes-secundarias">
                    <img class ="imagen-secundaria imagen-secundaria-1" src="./images/guitarra2.jpeg" alt="">
                    <img class ="imagen-secundaria" src="./images/guitarra3.jpeg" alt="">
                </div>
            </section>
            <section class ="descripcion-del-producto">
                <h3 class="relleno-descripcion precio-detalles">$650.000</h3>
                <div class="despliegue-opciones">
                    <details>
                        <summary>
                            <h3 class="relleno-descripcion opcion-detalles">Descripción <i class="fa-solid fa-arrow-down"></i></h3>
                        </summary>
                        <ul>
                            <li><p class="relleno-descripcion opcion-descripcion">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit reiciendis alias impedit accusantium repellat officia! Minus perferendis velit quas cumque voluptatibus libero dolore, ducimus eius veritatis, nam, distinctio quidem nihil! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae in dolorum magnam blanditiis accusantium earum doloribus tenetur nostrum harum numquam nulla deserunt nam facilis dignissimos enim, obcaecati voluptates voluptatum nobis.</p></li>
                        </ul>
                    </details>
                </div>
                <div class="despliegue-opciones">
                    <details>
                        <summary>
                            <h3 class="relleno-descripcion opcion-detalles">Caracteristicas <i class="fa-solid fa-arrow-down"></i></h3>
                        </summary>  
                        <ul class="relleno-descripcion opcion-descripcion">
                            <li>Madera: Pino</li>
                            <li>Cuerdas: Savarez</li>
                            <li>Tamaño: 1m</li>
                            <li>Cuerpo: clasico</li>
                            <li>Puente: Palisandro</li>
                        </ul>
                    </details>
                </div>
                <div class="cantidad-descripcion-del-producto">
                    <label class="titulo-cantidad" for="cantidad">Cantidad</label>
                    <input class="cantidad-añadir" name="cantidad" id="cantidad"type="number">
                </div>
                <div class="div-boton-añadir">
                    <button class="boton-añadir">Añadir al carrito</button>
                </div>
            </section>
            <ul>
                <li><%= productos.nombre %></li>
                <li><%= productos.descripcion %></li>
            </ul>
        </section>
        
    </div>
        <section class="barra-siguiente-instrumento">
            <a href=""><i class="far fa-arrow-alt-circle-left"></i></a>
            <h2>Ver otro instrumento</h2>
            <a href=""><i class="far fa-arrow-alt-circle-right"></i></a>
        </section>
        <!--footer-->
    <%- include("./partials/footer") %>

        <section class="footer-product">
            <p>a</p>
        </section>
        
    
</body>
</html>